@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.text-gradiant {
  background: -webkit-linear-gradient(136deg, #525252, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading {
  font-size: 56px;
  font-weight: 500;
}
@media (max-width: 1100px) {
  .heading {
    font-size: 56px;
  }
}
@media (max-width: 900px) {
  .heading {
    font-size: 41px;
  }
}
@media (max-width: 600px) {
  .heading {
    font-size: 36px;
  }
}
.nav-line {
  height: 2px;
  width: 18px;
  background: #d6d6d6b1;
  transition: all 0.3s ease-in-out;
}
.nav-line.active {
  transform: rotateZ(45deg) translateY(7px);
}

.nav-line.active.reverse {
  transform: rotateZ(-45deg) translateY(-7px);
}
.mask {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 15%,
    white 85%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.three {
  box-shadow: -1px -2px 1px #464646c7, 1px 4px 1px #000000c7;
}
.scroll-project {
  animation: scroll-project 30s linear infinite;
}
@keyframes scroll-project {
  to {
    transform: translateX(calc(5px - 50%));
  }
}
.scroll-tech {
  animation: scroll-animation 30s linear infinite;
}

@keyframes scroll-animation {
  to {
    transform: translateX(calc(16px - 50%));
  }
}

.background {
  background: url(./assets/background.png);
}
.bg-gradient {
  background: linear-gradient(212deg, #252525 0%, rgba(26, 26, 26, 1) 100%);
}
img {
  max-width: unset;
}
.bg-footer {
  background: radial-gradient(#ffffff, #80808005);
}
.bg-blur {
  filter: blur(10px);
}
.bg-s-big {
  background-size: 40px 40px;
}
.animated-bg {
  background: radial-gradient(#ffffff, #80808000);
  background-position: left top;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: bg-animation 5s linear infinite;
}
@keyframes bg-animation {
  0% {
    background-position: left top;
  }
  42.4% {
    background-position: right top;
  }
  49.65% {
    background-position: right bottom;
  }
  91.76% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}
span {
  opacity: 1;
}
.three img {
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}
.three:hover img {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.pop-in {
  translate: 30% 10%;
  scale: 0;
  transition: all 0.5s linear;
}
.show {
  translate: 0% 0%;
  scale: 1;
}
.stack::after {
  position: absolute;
  content: "";

  background: linear-gradient(
    89deg,
    rgba(0, 0, 0, 0.54) 39.28%,
    transparent 95.39%
  );
  bottom: 0;
  height: 100vh;
  left: 0;
  right: auto;
  top: auto;
  width: 60vw;
}
.stack img {
  position: absolute;
  width: 100svw;
  height: 100svh;
  object-fit: cover;
}
.masked {
  -webkit-mask: radial-gradient(
    circle at var(--x, 0) var(--y, 0),
    #fff,
    transparent 50px
  );
}
.background-glow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  width: 100%;
  padding: 0;
  margin: 0;
}

.background-glow div {
  background-image: radial-gradient(
    circle at var(--x, 0) var(--y, 0),
    hsl(0 0% 100% /0.175),
    hsl(0 0% 100% /0.0125) 3rem
  );

  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* min-height: 64px;
  min-width: 64px; */
  position: relative;
  width: 100%;
}

.background-glow div::after {
  content: "";
  position: absolute;

  background-image: radial-gradient(
    circle at var(--x, 0) var(--y, 0),
    #ffffff71,
    #ffffff00 3rem
  );
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
}
.background-glow div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.072);
  background-attachment: fixed;
  background-size: cover;
  /* filter: blur(10px); */
}
